.Acceuil{
    background-color:#D5D0CD ;
    overflow: hidden;
}

.Article{
    display: flex;
    margin-top :5%;
    margin-bottom: 5%;
}

.clothes {
    border-radius: 10%;
    margin-left: 2%;
}

.text{
    margin-left: 2%;
    margin-right: 2%;
}

@media screen and (max-width:700px) {
    .Article{
        flex-direction: column;
    }

    .clothes{
        margin: 0;
    }
}