.All{
    background-color:#D5D0CD ;
    overflow: hidden;
    text-align: center;
}

.All>button{
    background-color : #D9D9D9;
    margin-top: 1%;
    padding: 2%;
    border-radius: 16px;
}

.All>button:active {
    background-color: #dadada;
    border-width: 0 0 4px;
}

.Articles{
    display: flex;
    flex-wrap: wrap;
}

.mini{
    border-style:inset;
    border-color: black;
    margin: 1%;
    border-radius: 5%;
    padding: 2%;
    width: 200px;

}

.test{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test>button{
    background-color : #D9D9D9;
    padding: 2%;
    border-radius: 16px;
}

.img{
    height: 150px;
}

@media screen and (max-width:1912px) and (min-width:1538px) {
    .Articles{
        justify-content: center;
    }
}

@media screen and (max-width:1460px) and (min-width:1098px) {
    .Articles{
        justify-content: center;
    }
}

@media screen and (max-width:1071px) and (min-width:787px) {
    .Articles{
        justify-content: center;
    }
}

@media screen and (max-width:750px) and (min-width:475px) {
    .Articles{
        justify-content: center;
    }
}

@media screen and (max-width:457px) and (min-width:261px) {
    .Articles{
        justify-content: center;
    }
}