body{
    background-color:#D5D0CD ;
}

.Layout {
    background-color:#5E574D ;
    color: #F8F4E3;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Alisen-logo {
    width: 10%;
    display: flex;
    justify-content: center;
}

.list-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list-link> a {
    margin-right: 5%;
    margin-left: 5%;
    text-decoration: none;
    color:#F8F4E3;
    white-space: nowrap;
} 

.Footer {
    background-color:#5E574D ;
    color: #F8F4E3;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list{
    display: flex;
    align-items: center;
}

.list>p {
    margin-right:10% ;
}

/* Responsive */
@media screen and (max-width:800px)  {
    .list{
        flex-direction: column;
    }
}
