.Panier {
    background-color: #D5D0CD;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all {
    display: flex;
    flex-direction: row;
}

.Total {
    border-style: solid ;
    border-color: #9A998C;
    margin: 1%;
    border-radius: 5%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:477px) {
    .all {
        flex-direction: column;
    }
}